.page-header {
  background-color: #651c51;
  //height: 658px;

  background-image: url("../img/bg-header-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  background-size: cover;
  min-height: 658px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-header-desktop@2x.png");
  }
}

.page-header__top {
  @include reset;
  padding-top: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  span {
    @include font(26, 26);
    font-family: $bebas-neue;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $white;
  }

  .page-header__phone {
    span {
      @media (min-width: $desktop-width) {
        padding-top: 2px;
        font-weight: 700;
        letter-spacing: 0.03em;

        &:hover,
        &:active {
          color: $blue;
        }
      }
    }
  }
}

.page-header__middle {
  display: flex;
}

.page-header__content {
  width: 391px;
  display: flex;
  flex-wrap: wrap;
  //justify-content: flex-end;
  align-self: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 63px;
  padding-left: 3px;
  position: relative;

  @media (max-width: 1250px) and (min-width: 1024px) {
    padding-right: 0;
    margin-right: auto;
  }

  span {
    font-family: $bebas-neue;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }

  span:first-child {
    @include font(49, 49);
    padding-top: 113px;
    padding-bottom: 9px;
    font-weight: 100;
  }

  span:nth-child(2n) {
    @include font(109, 109);
    font-weight: 700;
  }

  span:nth-child(3n) {
    @include font(109, 109);
    padding-bottom: 59px;
    font-weight: 700;
  }
}

.page-header__list {
  @include reset-ul;
  position: absolute;
  bottom: 144px;
  left: 18px;
  width: 114px;
  text-align: right;

  color: #ffffff;
}

.page-header__button {
  span:last-child {
    @include font(12, 14);
    font-family: $roboto-condensed;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 55px;
    padding-right: 55px;
    min-width: 117px;

    border: 4px solid #ffffff;

    &:hover {
      color: $light-red;
      border: 4px solid $light-red;
    }
  }
}

.page-header__image {
  margin-top: -5px;

  @media (max-width: 1080px) and (min-width: 1024px) {
    margin-top: auto;
    margin-botom: auto;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    background-image: url("../img/bg-header-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: cover;
    min-height: 554px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-tablet@2x.png");
    }
  }

  .page-header__top {
    padding-top: 38px;

    span {
      @include font(24, 24);
    }
  }

  .page-header__content {
    width: 324px;
    padding-right: 30px;
    padding-left: 0;

    @media (max-width: 1023px) and (min-width: 768px) {
      padding-right: 0;
      margin-right: auto;
    }

    span:first-child {
      @include font(34, 34);
      padding-top: 71px;
      padding-bottom: 0;
      //font-weight: 100;
    }

    span:nth-child(2n) {
      @include font(86, 86);
    }

    span:nth-child(3n) {
      @include font(86, 86);
      padding-bottom: 46px;
    }
  }

  .page-header__list {
    bottom: 117px;
    left: 0;
    width: 113px;
  }

  .page-header__button {
    span:last-child {
      @include font(12, 14);
      font-family: $roboto-condensed;
      font-weight: 700;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 30px;
      padding-right: 30px;
      min-width: 117px;
    }
  }

  .page-header__image {
    width: 324px;
    height: 390px;
    padding-top: 25px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    background-image: url("../img/bg-header-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: cover;
    min-height: 491px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-mobile@2x.png");
    }
  }

  .page-header__top {
    padding-top: 20px;

    span {
      @include font(20, 20);
    }
  }

  .page-header__content {
    width: 290px;
    padding-right: 0;
    padding-left: 0;

    @media (max-width: 767px) and (min-width: 320px) {
      margin: auto;
    }

    span:first-child {
      @include font(28, 28);
      padding-top: 70px;
      padding-bottom: 5px;
      //font-weight: 100;
    }

    span:nth-child(2n) {
      @include font(78, 78);
    }

    span:nth-child(3n) {
      @include font(78, 78);
      padding-bottom: 46px;
    }
  }

  .page-header__list {
    bottom: 117px;
    left: 0;
    width: 113px;
  }

  .page-header__button {
    span:last-child {
      @include font(12, 14);

      padding-top: 21px;
      padding-bottom: 21px;
      padding-left: 82px;
      padding-right: 82px;
      min-width: 117px;
    }
  }

  .page-header__image {
    display: none;
  }
}
