.trainers {
  padding-bottom: 100px;

  h2 {
    //width: 151px;
    margin: 0 auto;
    padding-bottom: 55px;
    font-family: $bebas-neue;
    @include font(49, 49);
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

@media (max-width: $tablet-width) {
  .trainers {
    h2 {
      width: 129px;
      padding-bottom: 45px;
      margin: 0 auto;
      @include font(42, 42);
      letter-spacing: 0.03em;
    }
  }
}

@media (max-width: $mobile-width) {
  .trainers {
    padding-bottom: 95px;

    h2 {
      width: 99px;
      padding-bottom: 45px;
      margin: 0 auto;
      @include font(32, 32);
      letter-spacing: 0.03em;
    }
  }
}
