.feedback {
  width: 50%;
  background-color: $blue;

  h2 {
    width: 370px;
    //margin: 0 auto;
    //padding-bottom: 56px;
    @include reset;
    @include font(49, 49);
    padding-top: 65px;
    padding-left: $desktop-padding;
    font-family: $bebas-neue;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white;

    @media (max-width: 1200px) and (min-width: 1024px) {
      padding-left: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: $tablet-width) {
  .feedback {
    width: 100%;

    h2 {
      @include font(42, 42);
      width: 315px;
      padding-left: 133px;

      //@media (max-width: 1023px) and (min-width: 769px) {
      //  padding-left: 0;
      //  margin-left: auto;
      //  margin-right: auto;
      //}
    }
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    h2 {
      @include font(32, 32);
      width: 244px;
      padding-left: 15px;
      padding-bottom: 3px;
      letter-spacing: 0.03em;
    }

    @media (max-width: 767px) and (min-width: 321px) {
      margin: auto;
    }
  }
}
