.reviews {
  padding-top: 20px;
  padding-bottom: 50px;

  h2 {
    //width: 143px;
    @include font(49, 49);
    text-align: center;
    margin: 0 auto;
    padding-bottom: 56px;
    font-family: $bebas-neue;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.reviews__slider {
  width: 560px;
  margin: 0 auto;
  position: relative;

  background: #1c3374;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
}

.reviews__block {
  padding: 62px 62px 57px 62px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;

  .reviews__image {
    width: 80px;
  }

  .reviews__content {
    width: 328px;

    h3 {
      @include reset;
      @include font(20, 20);
      padding-bottom: 15px;

      color: $white;
    }

    p {
      @include reset;
      @include font(16, 22);

      color: $white;
    }
  }
}

.reviews__control {
  position: absolute;
  top: 50%;
  width: 21px;
  font-size: 0;

  &--prev {
    left: -59px;

    &::before {
      content: "";
      position: absolute;
      z-index: 20;
      left: 0;
      top: -9px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      display: block;
      width: 22px;
      height: 1px;
      background: #afafaf;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 20;
      left: 0;
      top: 8px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      display: block;
      width: 22px;
      height: 1px;
      background: #afafaf;
      cursor: pointer;
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        background: $light-red;
      }
    }
  }

  &--next {
    right: -57px;

    &::before {
      content: "";
      position: absolute;
      z-index: 20;
      left: 0;
      top: -9px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      display: block;
      width: 22px;
      height: 1px;
      background: #afafaf;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 20;
      left: 0;
      top: 8px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      display: block;
      width: 22px;
      height: 1px;
      background: #afafaf;
      cursor: pointer;
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        background: $light-red;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .reviews {
    padding-top: 0;
    padding-bottom: 31px;

    h2 {
      @include font(42, 42);
      width: 122px;
      padding-bottom: 46px;
      letter-spacing: 0.03em;
    }
  }

  .reviews__block {
    padding: 60px 62px 58px 62px;

    h3 {
      padding-bottom: 16px;
    }
  }
}

@media (max-width: $mobile-width) {
  .reviews {
    //padding-top: 70px;
    padding-bottom: 35px;

    h2 {
      @include font(32, 32);
      width: 93px;
      padding-bottom: 47px;
      letter-spacing: 0.03em;
    }
  }

  .reviews__slider {
    width: 226px;
    margin: 0 auto;

    @media (max-width: 500px) and (min-width: 430px) {
      width: 320px;
    }

    @media (max-width: 600px) and (min-width: 501px) {
      width: 395px;
    }

    @media (max-width: 700px) and (min-width: 601px) {
      width: 490px;
    }

    @media (max-width: 767px) and (min-width: 701px) {
      width: 580px;
    }
  }

  .reviews__block {
    width: 100%;
    padding: 37px 26px;
    box-sizing: border-box;

    @media (max-width: 767px) and (min-width: 321px) {
      justify-content: center;
    }

    .reviews__image {
      @include size(68, 68);
      padding-left: 13px;
      padding-bottom: 15px;

      @media (max-width: 767px) and (min-width: 501px) {
        padding: 0;
        padding-right: 25px;
      }
    }

    .reviews__content {
      position: relative;

      @media (max-width: 600px) and (min-width: 501px) {
        flex: 1 0;
      }

      h3 {
        position: absolute;
        width: 73px;
        top: -69px;
        right: 1px;

        @media (max-width: 767px) and (min-width: 501px) {
          width: 110px;
          position: initial;
          //margin: auto;
        }
      }

      p {
        text-align: center;

        @media (max-width: 767px) and (min-width: 701px) {
          text-align: left;
        }
      }
    }
  }

  .reviews__control {
    &--prev {
      left: -38px;
    }

    &--next {
      right: -38px;
    }
  }
}
