.banner {
  //width: 100%;
  padding-top: 120px;
  padding-bottom: 115px;

  background-image: url("../img/bg-subscription-desktop@1x.png");
  background-size: 287px 494px;
  background-position: right top -345px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-subscription-desktop@2x.png");
  }
}

.banner__container {
  display: flex;
  justify-content: center;
  max-width: 1160px;
  max-height: 500px;

  margin: 0 auto;
  padding-left: $desktop-padding;
  padding-right: $desktop-padding;
}

.banner__info {
  width: 43.1%;
  padding: 78px;
  max-height: 500px;
  background-color: $light-red;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-content: flex-start;
  align-items: flex-start;

  p:first-child {
    @include reset;
    @include font(90, 90);
    padding-right: 50px;
    width: 201px;
    font-family: $bebas-neue;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
  }

  @media (max-width: 1364px) and (min-width: 1024px) {
    flex: 1 0;
  }

  @media (max-width: 1050px) and (min-width: 1024px) {
    padding: 66px;
  }
}

.banner__schedule {
  width: 92px;
  display: flex;
  flex-direction: column;
}

.banner__date {
  width: 64px;
  padding-bottom: 62px;
  display: flex;
  flex-direction: column;
  position: relative;

  span:first-child {
    @include font(18, 27);
    padding-bottom: 7px;
    //display: block;
    color: $white;
    border-bottom: 1px solid $white;
  }

  b {
    @include font(40, 60);
    position: absolute;
    top: 28px;
    left: 0;
    //font-weight: bold;
    color: $white;
  }

  span:nth-child(3n) {
    @include font(14, 21);
    position: absolute;
    top: 38px;
    right: 0;
    color: $white;
  }

  span:last-child {
    @include font(14, 21);
    position: absolute;
    top: 56px;
    right: 9px;
    color: $white;
  }
}

.banner__time {
  width: 88px;
  display: flex;
  flex-direction: column;
  position: relative;

  span {
    @include font(18, 27);
    padding-bottom: 5px;
    //display: block;
    color: $white;

    border-bottom: 1px solid $white;
  }

  b {
    @include font(40, 60);
    position: absolute;
    top: 26px;
    left: 0;
    //font-weight: bold;
    color: $white;
  }
}

.banner__description {
  @include font(18, 27);
  margin: 0;
  padding-bottom: 45px;
  margin-top: 14px;
  display: block;

  color: $white;
}

.banner__button {
  @include font(12, 14);
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 111px;
  padding-right: 111px;
  min-width: 116px;

  color: $white;

  border: 4px solid $white;

  &:hover {
    color: $blue;
    border: 4px solid $blue;
  }
}

.banner__image {
  width: 56.9%;
  flex-shrink: 1;

  background-image: url("../img/banner@1x.jpg");
  background-size: 660px 500px;
  background-position: top right;
  background-repeat: no-repeat;
  min-height: 660px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/banner@2x.jpg");
  }

  @media (max-width: 1364px) and (min-width: 1024px) {
    flex: 1 1;
  }
}

@media (max-width: $tablet-width) {
  .banner {
    padding-top: 100px;
    padding-bottom: 95px;

    background-image: url("../img/bg-subscription-tablet@1x.png");
    background-size: 347px 474px;
    background-position: right top -342px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-subscription-tablet@1x.png");
    }
  }

  .banner__container {
    padding-left: 45px;
    padding-right: 45px;
  }

  .banner__info {
    padding: 46px 45px;
    max-height: 292px;

    p:first-child {
      @include font(52, 52);
      padding-right: 29px;
      width: 117px;
      font-weight: bold;
    }

    //@media (max-width: 1364px) and (min-width: 1024px) {
    //  flex: 1 0;
    //}
    //
    //@media (max-width: 1050px) and (min-width: 1024px) {
    //  padding: 66px;
    //}
  }

  .banner__schedule {
    width: 56px;
  }

  .banner__date {
    width: 42px;
    padding-bottom: 37px;

    span:first-child {
      @include font(12, 8);
      padding-top: 6px;
      padding-bottom: 7px;
    }

    b {
      @include font(24, 36);
      position: absolute;
      top: 18px;
    }

    span:nth-child(3n) {
      @include font(10, 15);
      top: 22px;
    }

    span:last-child {
      @include font(10, 15);
      top: 33px;
      right: 6px;
    }
  }

  .banner__time {
    width: 56px;

    span {
      @include font(12, 8);
      padding-bottom: 7px;
    }

    b {
      @include font(24, 36);
      top: 11px;
    }
  }

  .banner__description {
    @include font(12, 18);
    margin: 0;
    padding-bottom: 31px;
    margin-top: 3px;
  }

  .banner__button {
    @include font(10, 12);

    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 51px;
    padding-right: 51px;
    min-width: 97px;

    border: 2px solid $white;

    &:hover {
      color: $blue;
      border: 2px solid $blue;
    }
  }

  .banner__image {
    background-image: url("../img/banner-tablet@1x.jpg");
    background-size: 386px 292px;
    background-position: top right;
    background-repeat: no-repeat;
    min-height: 292px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/banner-tablet@2x.jpg");
    }

    //@media (max-width: 1364px) and (min-width: 1024px) {
    //  flex: 1 1;
    //}
  }
}

@media (max-width: $mobile-width) {
  .banner {
    padding-top: 71px;
    padding-bottom: 150px;

    flex-direction: column;

    background-image: none;
  }

  .banner__container {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
  }

  .banner__info {
    width: 290px;

    p:first-child {
      @include font(52, 52);
      padding-right: 27px;
      width: 117px;
      font-family: $bebas-neue;
      letter-spacing: 0.03em;
    }

    @media (max-width: 1023px) and (min-width: 321px) {
      margin: auto;
    }
  }

  .banner__schedule {
    width: 56px;
  }

  .banner__date {
    width: 42px;
  }

  .banner__image {
    width: 290px;
    background-image: url("../img/banner-mobile@1x.jpg");
    background-size: 290px 292px;
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 292px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/banner-mobile@2x.jpg");
    }

    @media (max-width: 1023px) and (min-width: 321px) {
      margin: auto;
    }
  }
}
