.footer {
  //width: 100%;
  //position: absolute;
  //bottom: 0;
  padding-top: 39px;
  padding-bottom: 39px;
  background-color: #030a1a;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;

  span {
    @include font(26, 26);
    font-family: $bebas-neue;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $white;
  }
}

.footer__navigation {
  width: 431px;
  padding-top: 5px;
  padding-left: 23px;

  .footer__navigation-list {
    @include reset-ul;
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: 40px;
    }

    li:nth-child(5n) {
      margin-right: 0;
    }
  }
}

.footer__navigation-link {
  color: $white;

  &:hover {
    color: $light-red;
  }
}

.footer__social {
  width: 110px;

  .footer__social-icon {
    fill: $white;

    &--vk:hover,
    &--vk:focus {
      fill: $light-red;
    }

    &--ig:hover,
    &--vk:focus {
      fill: $light-red;
    }

    &--fb:hover,
    &--vk:focus {
      fill: $light-red;
    }
  }

  .footer__social-list {
    @include reset-ul;
    display: flex;
    justify-content: space-between;

    li:first-child {
      padding-top: 5px;
    }

    li:nth-child(2n) {
      padding-top: 3px;
    }

    li:last-child {
      padding-top: 3px;
    }
  }
}

@media (max-width: $tablet-width) {
  .footer {
    padding-top: 43px;

    span {
      @include font(24, 24);
    }
  }

  .footer__navigation {
    width: 391px;
  }

  .footer__navigation-link {
    @include font(14, 16);
  }

  .footer__social {
    width: 100px;
  }
}

@media (max-width: $mobile-width) {
  .footer__wrapper {
    flex-wrap: wrap;
    position: relative;

    span {
      @include font(20, 20);
      position: absolute;
      top: 5px;
      left: 15px;
    }

    .footer__navigation {
      padding-left: 0;
    }

    .footer__navigation-list {
      display: block;
      //width: 200px;
      //flex-wrap: wrap;
      column-count: 2;

      li:first-child {
        margin-top: 40px;

        a {
          @include font(16, 19);
        }
      }

      li:nth-child(2n) {
        padding-top: 19px;

        a {
          @include font(16, 19);
        }
      }

      li:nth-child(3n) {
        padding-left: 7px;

        a {
          @include font(16, 19);
        }
      }

      li:nth-child(4n) {
        padding-left: 7px;
        padding-top: 19px;

        a {
          @include font(16, 19);
        }
      }

      li:nth-child(5n) {
        padding-left: 7px;
        padding-top: 19px;

        a {
          @include font(16, 19);
        }
      }
    }

    .footer__social {
      padding-top: 31px;
      width: 145px;

      .footer__social-icon {
        &--vk {
          @include size(32, 17);
          padding-top: 3px;
        }

        &--ig {
          @include size(27, 27);
        }

        &--fb {
          @include size(14, 27);
        }
      }
    }
  }
}
