.slider {
  position: relative;
  //overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.slider__wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider__list {
  @include reset-ul;
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
  transition: transform 0.7s ease;
}

.slider__item {
  //width: 22.4%;
  //position: relative;
  //
  //flex: 0 0 25.9%;
  //max-width: 25.9%;

  h3 {
    margin: 0;
    position: absolute;
    bottom: 22px;
    left: 77px;
    width: 146px;
    //margin-top: 0;
    //margin-bottom: 0;

    @include font(18, 27);
    color: $white;
  }

  @media (max-width: 1365px) and (min-width: 1024px) {
    h3 {
      margin: auto;
      left: 0;
      right: 0;
      width: fit-content;
    }
  }

  /*Блок для hover*/
  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 52px 41px;

    position: absolute;
    box-sizing: border-box;
    min-height: 100%;

    background: rgba(16, 38, 84, 0.89);
  }

  b {
    @include font(18, 27);
    display: block;
    text-align: center;
    color: $white;
  }

  span {
    @include font(16, 24);
    display: block;
    text-align: center;
    color: #85bdcc;
  }

  ul {
    padding: 0;
    padding-left: 29px;
    padding-top: 30px;
    list-style-type: disc;

    color: $white;

    li:first-child {
      padding-bottom: 12px;
    }

    li:nth-child(2n) {
      padding-bottom: 13px;
    }
  }

  div {
    display: none;
  }

  &:hover div {
    display: block;
  }

  &:hover h3 {
    display: none;
  }

  @media (max-width: 1189px) and (min-width: 1024px) {
    div {
      justify-content: center;
      padding: 0;
      padding-top: 50px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  @media (min-width: 1250px) {
    div {
      width: 91%;
    }
  }
  /*Блок hover окончание*/
}

.slider__link-two {
  h3 {
    left: 69px;
  }

  @media (max-width: 1365px) and (min-width: 1024px) {
    h3 {
      margin: auto;
      left: 0;
      right: 0;
      width: fit-content;
    }
  }
}

.slider__image {
  @include reset;

  img {
    height: 294px;
    object-fit: cover;
  }
}

.slider__control {
  position: absolute;
  top: 50%;
  width: 21px;
  font-size: 0;

  &--prev {
    left: -59px;
    outline: none;

    &::before {
      content: "";
      position: absolute;
      z-index: 20;
      left: 0;
      top: -9px;
      transform: rotate(-45deg);
      display: block;
      width: 22px;
      height: 1px;
      background: #afafaf;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 20;
      left: 0;
      top: 8px;
      transform: rotate(45deg);
      display: block;
      width: 22px;
      height: 1px;
      background: #afafaf;
      cursor: pointer;
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        background: $light-red;
      }
    }
  }

  &--next {
    right: -59px;
    outline: none;

    &::before {
      content: "";
      position: absolute;
      z-index: 20;
      left: 0;
      top: -9px;
      transform: rotate(45deg);
      display: block;
      width: 22px;
      height: 1px;
      background: #afafaf;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 20;
      left: 0;
      top: 8px;
      transform: rotate(-45deg);
      display: block;
      width: 22px;
      height: 1px;
      background: #afafaf;
      cursor: pointer;
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        background: $light-red;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .slider {
    width: 678px;
  }

  .slider__wrapper {
    width: 566px;
  }

  .slider__list {
    width: 704px;
    margin: 0 auto;
  }

  .slider__item {
    //flex: 0 0 43%;
    //max-width: 43%;
  }

  .slider__one,
  .slider__two {
    display: none;
  }

  .slider__control {
    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}

@media (max-width: $mobile-width) {
  .slider {
    width: 290px;
  }

  .slider__wrapper {
    width: 231px;
  }

  .slider__list {
    width: 360px;
    margin: 0 auto;
  }

  .slider__item {
    //flex: 0 0 74%;
    //max-width: 74%;
  }

  .slider__link {
    &--active {
      div {
        padding: 44px 43px;
        min-height: 274px;
      }

      ul {
        padding-left: 2px;
      }
    }
  }

  .slider__four {
    display: none;
  }

  .slider__control {
    &--prev {
      &::before {
        left: 0;
        top: 0;
        width: 10px;
      }

      &::after {
        width: 10px;
      }
    }

    &--next {
      right: -9px;

      &::before {
        left: 0;
        top: 0;
        width: 10px;
      }

      &::after {
        width: 10px;
      }
    }
  }
}
