.contacts {
  width: 50%;

  h2 {
    @include reset;
    @include font(49, 49);
    width: 177px;
    padding-top: 65px;
    padding-bottom: 47px;
    padding-left: 120px;
    font-family: $bebas-neue;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $blue;

    @media (max-width: 1200px) and (min-width: 1024px) {
      padding-left: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.contacts__block {
  width: 404px;
  padding-left: 124px;
  display: flex;

  @media (max-width: 1200px) and (min-width: 1024px) {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__block-left {
  min-width: 230px;
  max-height: 106px;
  margin-right: 60px;
  border-right: 1px solid #74819c;

  b:first-child {
    @include font(16, 18);
    display: block;
    padding-bottom: 9px;
  }

  p {
    @include reset;
    padding-bottom: 19px;
  }

  b:nth-child(3n) {
    @include font(16, 18);
    display: block;
    padding-bottom: 8px;
  }
}

.contacts__block-right {
  width: 170px;
  max-height: 106px;

  b:first-child {
    @include font(16, 18);
    display: block;
    padding-bottom: 9px;
  }

  p {
    @include reset;
    padding-bottom: 19px;
  }

  b:nth-child(3n) {
    @include font(16, 18);
    display: block;
    padding-bottom: 8px;
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    width: 100%;
    padding-bottom: 68px;

    h2 {
      @include reset;
      @include font(42, 42);
      width: 151px;
      padding-top: 65px;
      padding-bottom: 47px;
      padding-left: 133px;
      letter-spacing: 0.03em;

      @media (max-width: 1023px) and (min-width: 769px) {
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .contacts__block {
    width: 456px;
    padding-left: 133px;

    @media (max-width: 1023px) and (min-width: 769px) {
      padding-left: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .contacts__block-left {
    min-width: 266px;
    max-height: 129px;
    margin-right: 48px;

    b:first-child {
      @include font(20, 15);
      padding-bottom: 9px;
    }

    p {
      @include font(18, 27);
      padding-bottom: 19px;
    }

    b:nth-child(3n) {
      @include font(20, 30);
      padding-bottom: 8px;
    }
  }

  .contacts__block-right {
    width: 142px;
    max-height: 129px;

    b:first-child {
      @include font(20, 15);
      padding-bottom: 9px;
    }

    p {
      @include font(18, 27);
      padding-bottom: 19px;
    }

    b:nth-child(3n) {
      @include font(20, 30);
      padding-bottom: 8px;
    }
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    h2 {
      @include font(32, 32);
      width: 155px;
      padding-left: 15px;
      //padding-bottom: 3px;
      letter-spacing: 0.03em;
    }
  }

  .contacts__block {
    width: 290px;
    flex-direction: column;
    padding-left: 15px;

    @media (max-width: 500px) and (min-width: 321px) {
      margin: auto;
      padding-left: 0;
      width: 224px;
    }

    @media (max-width: 767px) and (min-width: 501px) {
      margin: auto;
      flex-direction: row;
    }
  }

  .contacts__block-left {
    min-width: 218px;
    border-right: none;
    padding-bottom: 34px;
  }
}
