.subscription {
  padding-top: 120px;
  padding-bottom: 94px;
  background-color: $light-gray;

  background-image: url("../img/bg-subscription-desktop@1x.png");
  background-size: 287px 494px;
  background-position: right bottom -150px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-subscription-desktop@2x.png");
  }

  h2 {
    //width: 225px;
    //width: fit-content;
    @include font(49, 49);
    text-align: center;
    margin: 0 auto;
    padding-bottom: 32px;
    font-family: $bebas-neue;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

.subscription__navigation {
  @include font(20, 30);
  width: 341px;
  margin: 0 auto;
  margin-bottom: 37px;
  display: flex;
  justify-content: space-between;

  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  span:hover {
    border-bottom: 2px solid #d10a42;
    padding-bottom: 10px;
  }

  span {
    padding-bottom: 12px;
  }
}

.subscription__container {
  margin: 0 auto;
  padding-left: $desktop-padding;
  padding-right: $desktop-padding;
}

.subscription__list {
  @include reset-ul;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  position: relative;

  max-width: 1366px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    li:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.subscription__item {
  width: 31%;
  padding-top: 63px;
  min-height: 448px;
  margin-right: 40px;
  margin-bottom: 27px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;

  background-color: $white;
  box-sizing: border-box;

  cursor: pointer;

  z-index: 1;

  //&:nth-child(odd) {
  //  margin-right: auto;
  //}
  &:hover {
    box-sizing: border-box;
    padding-top: 55px;
    border: 8px solid transparent;
    border-image: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
    border-image-slice: 1;
  }

  h3 {
    @include font(26, 29);
    margin: 0;
    padding-bottom: 10px;
    font-weight: 700;
    text-align: center;
    color: $blue;
  }

  span:nth-child(2n) {
    @include font(16, 24);
    padding-bottom: 66px;
    display: block;
    text-align: center;

    color: $blue;
  }

  b {
    @include font(60, 90);
    font-weight: 700;
    display: block;
    text-align: center;

    color: #103aae;

    &::before {
      @include font(100, 150);
      font-weight: bold;
      position: absolute;
      content: attr(data-price);
      display: block;
      top: 73px;
      left: -15px;
      right: -15px;

      color: #e8e8e8;
      opacity: 0.48;

      z-index: -1;
    }

    &::after {
      .subscription__icon {
        @include pseudo-elem;
        top: 10px;
        right: 10px;
      }
    }
  }

  @media (max-width: 1365px) and (min-width: 1024px) {
    margin-right: 25px;
  }
}

.subscription__link {
  padding-bottom: 32px;
  position: relative;
}

.subscription__button {
  @include font(12, 14);
  font-family: $roboto-condensed;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 44px;
  padding-right: 44px;
  min-width: 117px;

  color: $blue;

  border: 2px solid $blue;

  &:hover {
    color: $white;
    background: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
    border: none;
  }
}

@media (max-width: $tablet-width) {
  .subscription {
    padding-top: 94px;
    padding-bottom: 61px;

    background-image: url("../img/bg-subscription-tablet@1x.png");
    background-size: 347px 444px;
    background-position: right bottom -125px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-subscription-tablet@2x.png");
    }

    h2 {
      @include font(42, 42);
      width: 193px;
      padding-bottom: 34px;
    }
  }

  .subscription__navigation {
    @include font(18, 27);
    width: 332px;
    margin-bottom: 43px;
  }

  .subscription__list {
    flex-direction: column;
  }

  .subscription__item {
    width: 442px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: $mobile-width) {
  .subscription {
    padding-top: 68px;
    padding-bottom: 28px;

    background-image: none;

    h2 {
      @include font(32, 32);
      width: 147px;
      padding-bottom: 23px;
      letter-spacing: 0.03em;
    }
  }

  .subscription__navigation {
    @include font(16, 24);
    width: 289px;
    margin-bottom: 43px;
  }

  .subscription__container {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }

  .subscription__item {
    width: 290px;
    min-height: 375px;
    padding-top: 43px;
    margin-bottom: 43px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 767px) and (min-width: 321px) {
      width: 100%;
      align-items: stretch;
    }

    h3 {
      //padding-bottom: 10px;
      @include font(22, 24);
      font-weight: 700;
    }

    span:nth-child(2n) {
      padding-bottom: 55px;
    }

    b {
      @include font(48, 72);

      &::before {
        @include font(79, 150);
        top: 51px;
      }

      svg {
        @include size(24, 33);
      }
    }
  }

  .subscription__link {
    padding-bottom: 27px;
  }

  .subscription__button {
    @media (max-width: 767px) and (min-width: 321px) {
      min-width: 100%;
      box-sizing: border-box;
      text-align: center;
    }
  }
}
